<div class="tic_tac_toe" data-tic_tac_toe>
  <div data-game-board class="tic-tac-toe__game-board"></div>
  <div class="tic-tac-toe__controls">
    <button data-start-new-game>Новая игра</button>
    <span data-active-step></span>
    <div data-winner-block></div>
  </div>
</div>
