* {
  box-sizing: border-box;
}

.tic_tac_toe {
  margin: 0 auto;
  margin-top: 200px;
  width: 300px;
  height: 300px;
}

.tic_tac_toe--disabled .tic-tac-toe__game-board {
  opacity: 0.5;
}

.tic_tac_toe--disabled .tic-tac-toe__cell {
  cursor: default;
}

.tic-tac-toe__game-board {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tic-tac-toe__cell {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid black;
  cursor: pointer;
}

.sign--X {
  cursor: default;
  position: relative;
}

.sign--X:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c"; /* use the hex value here... */
  font-size: 70px;
  color: red;
  line-height: 100px;
  text-align: center;
}

.sign--O {
  cursor: default;
  position: relative;
}

.sign--O:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\004F"; /* use the hex value here... */
  font-size: 70px;
  color: red;
  line-height: 100px;
  text-align: center;
}
